.footer {
    background-color: #DFFF04;
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h4  {
    color: #CC11D2;
    font-family: "Space Mono", monospace;
    font-size: 1.5rem;
    padding: 24px;
}

p   {
    color: #0c0f0a;
    padding: 24px;
}

@media (max-width: 576px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}